<div class="navbar navbar-default yamm" role="navigation" id="navbar">

    <div class="container">
        <div class="navbar-header">
            <div class="m-navbar-brand">
                    <a class="navbar-brand home" href="/">
                        <h2 class="hidden-xs hidden-sm">StatNLP Framework</h2>
                        <h3 class="visible-xs visible-sm">StatNLP Framework</h3>
                        <span class="sr-only">StatNLP Framework</span>
                    </a>
            </div>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Tutorial</a>
                </li>
                <li>
                    <a href="/">Publication</a>
                </li>
                <li>
                    <a href="/">Project</a>
                </li>
                <li>
                    <a href="/">Team</a>
                </li>
                <li>
                    <a href="/">Dataset</a>
                </li>
                <li>
                    <a href="/">Seminar</a>
                </li>
                <li>
                    <a href="/">Demo</a>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->



        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

                        <button type="submit" class="btn btn-template-main">
                            <i class="fa fa-search"></i>
                        </button>

                    </span>
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->

    </div>


</div>
<!-- /#navbar -->