<section class="m-news-detail">
    <div class="container" cg-busy="vm.promise">

        <div class="row">

            <!-- *** LEFT COLUMN ***
    _________________________________________________________ -->

            <div class="col-md-10 col-sm-9" id="blog-post">


                <p class="text-muted text-uppercase mb-small text-right">
                    By {{vm.news.date | date}} In {{vm.news.type}}
                </p>
                <h2>{{vm.news.title}}</h2>

                <div id="post-content">
                    <blockquote ng-repeat="item in vm.news.content.split('//')">
                        <p>
                            {{item}}
                        </p>
                    </blockquote>




                </div>
                <!-- /.container -->

            </div>
            <!-- /#blog-post -->

            <!-- *** LEFT COLUMN END *** -->

            <!-- *** RIGHT COLUMN ***
        _________________________________________________________ -->

            <div class="col-md-2 col-sm-3 col-xs-6 justify-content-center">

                <!-- *** MENUS AND WIDGETS ***
_________________________________________________________ -->

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="item in vm.relatedNews">
                                <div class="m-news-related">
                                    <div class="box-image-text blog">
                                        <div class="top">
                                            <div class="image">
                                                <img ng-src="{{item.imageUrl}}" alt="" class="img-responsive">
                                            </div>
                                            <div class="bg"></div>
                                            <div class="text">
                                                <p class="buttons">
                                                    <a ui-sref="news-detail({endStart: item.endStart, id:item.id})" ui-sref-opts="{reload: true}" class="text-capitalize m-a-none m-color-white">{{item.title | limitTo: 30}}</a>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-image-text -->

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>



                <!-- *** MENUS AND FILTERS END *** -->

            </div>
            <!-- /.col-md-3 -->

            <!-- *** RIGHT COLUMN END *** -->


        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>
<!-- /#content -->